<label for={{name}} class="field">
    <p class="field--title">{{title}}</p>
    <input type={{#if type}}{{type}}{{else}}text{{/if}}
           id="{{name}}"
           class="field--input">
</label>
