<div class="profile-info {{class}}">
    <b class="profile-info--title">{{title}}</b>
    <input type={{#if edit}} {{type}} {{else}}"text"{{/if}}
            name={{name}}
            {{#if value}} value={{value}} {{/if}}
            class="profile-info--input">
</div>
