<div class="profile">
    {{{ ReturnBack }}}

    <div class="profile--content">
        {{{Avatar}}}
        <h1 class="profile--name">{{name}}</h1>

        <ul class="profile--list">
            {{#each ProfileInfoEditsArray}}
                <li>{{{this}}}</li>
            {{/each}}
        </ul>

        <ul class="profile--list">
            {{#each LinksArray}}
                <li>{{{this}}}</li>
            {{/each}}
        </ul>
    </div>
</div>
